@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Mulish:wght@400;500;600;700;800;900&family=Nunito:wght@600;700;800;900&family=Palanquin+Dark&display=swap');

:root {
    --main-bg-color: coral;
    --main-txt-color: #2C2E33;
    --main-txt1-color: #747A88;
    --main-txt2-color: #3B3C98;
    --main-txt3-color: linear-gradient(147.42deg, #5E60C1 10.75%, #FFD2CC 142.48%);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 200vh;
}

.nav-title {
    width: 100%;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    top: 0;
}

/*---------------------------------------------------Navbar---------------------------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-left: 4%;
    padding-right: 8%;
    padding-bottom: 28px;
    background-color: #F2F2F2;
}

.logo {
    font-family: 'Palanquin Dark', sans-serif;
    color: #303030;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 43.46px;
    margin-left: 3rem;
}

@media (max-width: 990px) {
    nav {
        display: block;
    }

    .logo {
        margin-left: 0 !important;
    }
}



nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-txt-color);
    font-size: 15px;
    font-weight: 500;
    line-height: 16.94px;
    text-transform: capitalize;
    position: relative;
}

nav ul li a:hover {
    color: var(--main-txt-color) !important;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--main-txt2-color);
    border-radius: 40px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.register-btn {
    color: var(--main-txt2-color);
    border: 1px solid var(--main-txt2-color);
    font-size: 14px;
    font-weight: 900;
    line-height: 17px;
    letter-spacing: 0.05rem;
    width: 140px;
    height: 50px;
    padding: 8px;
    border-radius: 15px;
}


/*---------------------------------------------------------HOME---------------------------------------------*/

#home {
    background: linear-gradient(180deg, rgba(246, 247, 251, 0.5) -6.89%, #DCE0EF 108.33%);
    margin-top: 130px;
}

.home-content>h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    color: var(--main-txt2-color);
}

.home-content>h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 85px;
    color: var(--main-txt3-color);
}

.home-content>p {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-txt1-color)
}

.home-content-image>.blue-background {
    width: 42.8rem;
    /* height: 50%; */
    height: 46%;
    margin-top: 21rem;
    /* z-index: -1; */
    /* position: relative; */
}

.home-content-image>.white-car {
    position: absolute;
    width: 45%;
    height: 90%;
    z-index: 1;
}

@media (max-width:825px) {

    .home-content-image>.white-car {
        width: 86%;
        height: 55%;
    }
    .home-content-image>.blue-background {
        width: 44rem;
        height: 45%;
        margin-top: 21rem;
    }
}

@media (max-width:770px) {

    .home-content-image>.white-car {
        width: 79%;
    }
}

@media (max-width:430px) {

    .home-content-image>.blue-background {
        width: 21.2rem;
        margin-top: 15rem;
        height: 42%;
    }

    .home-content-image>.white-car {
        width: 82%;
        height: 50%;
    }
}

@media (max-width:380px) {

    .home-content-image>.white-car {
        width: 71%;
        height: 50%;
    }

    .home-content-image>.blue-background {
        width: 16.6rem;
        margin-top: 11rem;
    }
}


/*--------------------------------------------------------Rent Flow------------------------------------------*/

.rent-flow-svg {
    position: relative;
}

/* .cuve-svg{
    top: 10;
} */

.rentflow-content>h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: var(--main-txt-color);
}

.rentflow-content>h5 {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-txt1-color);
}

.icon-color {
    background: linear-gradient(147.42deg, #5E60C1 10.75%, #FFD2CC 142.48%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.fa-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 25px;
    width: 60px;
    height: 60px;
    background: #F2F2F2;
    border-radius: 16px;
}

.card-content>h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    color: var(--main-txt-color);
}

.card-content>p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-txt-color);
}


/*-----------------------------------------------------Find by Car----------------------------------------------*/

.wrapper {
    max-width: 1600px;
    position: relative;
}

.wrapper .carousel {
    white-space: nowrap;
    /* padding: 20px 20px; */
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
        pointer-events: none;
    }

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 2.3rem;
    text-align: center;
    line-height: 46px;
    color: #F2F2F2;
    background: #F79761;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child {
    left: 20px;
    z-index: 10;
}

.wrapper i:last-child {
    right: 35px;
    z-index: 10;
}

.carousel img {
    width: calc(70%/ 3);
    height: 209px;
    object-fit: cover;
    margin-left: 25px;
    border-radius: 24px;
}

.carousel img:first-child {
    margin-left: 0px;
}

@media (max-width:900px) {
    .carousel img {
        width: calc(95%/ 2);
    }
}

@media (max-width:550px) {
    .carousel img {
        width: calc(100%);
    }
}

/*------------------------------------------------------Car Catalogue-----------------------------------------------*/

.car-catalogue-button>.all-car-button {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    width: 119px;
    height: 43px;
    padding: 12px 28px;
    color: #ffffff;
    background: #F79761;
    border-radius: 20px;
    border: none;
}

.all-car-btn {
    width: 180px !important;
}

.car-catalogue-button>button {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    width: 150px;
    height: 45px;
    padding: 12px 28px;
    color: #B4B4B4;
    background: #ffffff;
    border: 2px solid #e7e1e1;
    border-radius: 20px;
}

.card {
    border-radius: 25px;
}

.car-card-image{
    position: relative;
    width: 227px;
    height: 120px;
}

.car-name-text>h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--main-txt-color);
}

.car-logos {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.car-steering-icon>h5,
.car-seat-icon>h5 {
    font-weight: 400 !important;
    font-size: 16px !important;
}

.car-pet-icon>h5 {
    font-weight: 400 !important;
    font-size: 15px !important;
}

.car-pet-icon>i {
    font-size: 19px;
}

.car-pet-icon {
    margin-top: 1.5px;
}

.car-price>h5 {
    font-size: 32px;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: var(--main-txt-color);
}

.doller-text {
    font-size: 13px;
    vertical-align: super;
}

.day-text {
    font-size: 13px;
}

.card-background {
    border-radius: 24px !important;
    background: #F2F2F2 !important;
}


  html {
    scroll-behavior: smooth;
  }
  .swiper-container {
    width: 100%;
    overflow-x: hidden;
  }

  .swiper-slide {
    padding: 10px;
    width: 20%!important;
  }
  
  .swiper-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @media (max-width:900px) {
    .swiper-slide {
        width: 37%!important;
    }
}

@media (max-width:420px) {
    .swiper-slide{
        width: 90%!important;
        margin-left: 40px !important; 
    }

    .top-rate-btn, .all-car-btn{
        margin-top: 12px;
    }
    /* .swiper-container {
        margin-left: 40px !important;
        margin-right: 40px !important;
        overflow-x: hidden;
      } */
}
/*------------------------------------------------------Expert Services----------------------------------------------*/

.white-car2 {
    /* width: 100%;
    height: 100%; */
    width: 50%;
    height: 85%;
    position: absolute;
    z-index: 10;
    margin-left: 60px;
    margin-top: -70px;
}

.blue2 {
    position: relative;
    /* width: 100%;
    height: 100%; */
    width: 95%;
    height: 65%;
    margin-top: 10rem;
}

@media (max-width:825px) {

    .blue2 {
        width: 63%;
        height: 70%;
        margin-top: 6rem;
    }

    .white-car2 {
        width: 65%;
        height: 35%;
        z-index: 10;
        margin-top: -25px;
        margin-left: 70px;
    }
}

@media (max-width:380px) {
    .white-car2 {
        width: 62%;
        height: 36%;
        z-index: 10;
        margin-top: 18px;
        margin-left: 51px;
    }
}


.Special-offers-content {
    margin-left: 44px !important;
}

.expert-service-content>h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--main-txt-color);
}

.expert-service-content>p {
    width: 22rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-txt1-color);
}

.fa-icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #F2F2F2;
    border-radius: 16px;
}


/*----------------------------------------------------Testimonials---------------------------------------------*/

.testmonials-content-align {
    display: flex;
    flex-direction: row;
    background: rgba(59, 60, 152, 0.07);
    border-radius: 48px;
}

@media (max-width:825px) {
    .testmonials-content-flex {
        display: none;
    }
}

@media (max-width:600px) {
    .testmonials-content-align {
        display: flex;
        flex-direction: column;
    }
}

.testmonials-image {
    width: 100%;
    height: 100%;
}

.testmonials-content {
    width: 70%;
}

.testmonials-content>h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-txt-color);
}

.testmonials-content>h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-txt1-color);
}

.testmonials-content>p {
    font-weight: 400;
    font-size: 16px;
    color: var(--main-txt-color);
}

.arrow-icon-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #8E8E8E;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 5px rgb(173, 166, 166);
}

.arrow-icon-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #F2F2F2;
    background: #F79761;
    box-shadow: 0px 0px 15px 5px rgb(173, 166, 166);
}


/*-----------------------------------------------------Special Offers---------------------------------------------*/

.special-offers-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.special-offers-content>h2 {
    font-size: 40px;
    font-weight: 900;
    color: var(--main-txt-color);
}

.special-offers-content>p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--main-txt1-color);
}

.special-offers-content>button {
    width: 130px;
    height: 45px;
    font-size: .8rem;
    border: none;
    color: #ffffff;
    background: linear-gradient(90deg, #5D5EC0 0%, #6C6DC6 100%);
    border-radius: 16px;
}

.special-offers-content>button:hover {
    border: none;
    background: var(--main-bg-color);
}

.mail-image {
    width: 80px;
}

.Special-blue-background {
    width: 55%;
    height: fit-content;
    background: #3B3C98;
    border-radius: 15px;
    position: relative;
    margin-left: 12.4rem;
}

@media (max-width:825px) {
    .Special-blue-background {
        margin-left: 11.5rem;
    }
}

@media (max-width:768px) {
    .Special-blue-background {
        margin-left: 11rem;
    }
}

@media (max-width:420px) {
    .special-offer-image {
        margin-top: -7rem !important;
    }

    .Special-blue-background {
        margin-left: 5.7rem !important;
    }
}


.special-input-box>input {
    width: 200px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
    line-height: 24px;
    /* color: rgba(59, 60, 152, 0.5); */
    border-radius: 10px;
    border: none;
}

.special-input-box>button {
    width: 110px;
    height: 30px;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    background: #F79761;
    border-radius: 10px;
    border: none;
}

.special-offer-image {
    width: 65%;
    height: 70%;
    margin-top: -14.5rem;
}

/*---------------------------------------------------------Menu----------------------------------------------------*/

.carent-text>h4 {
    font-size: 20px !important;
    margin-left: 0 !important;
}

.carent-text>p {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--main-txt-color);
}

.menu-text {
    line-height: 24px;
}

.menu-text>h4 {
    font-weight: 700;
    font-size: 20px;
    color: var(--main-txt-color);
    line-height: 2rem;
}

.menu-text>h5 {
    font-weight: 400;
    font-size: 20px;
    color: var(--main-txt-color);
    line-height: 2rem;
}

@media (max-width:825px) {

    .menu-text1,
    .carent-text {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width:430px) {

    .menu-text1,
    .carent-text {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width:430px) {

    .menu-text {
        margin-top: 30px !important;
    }
}

.contact-social-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 1.5rem;
    color: #ffffff;
    background: var(--main-txt2-color);
    border-radius: 50%;
}

.contact-social-icon:hover {
    background: var(--main-bg-color);
}